.blog-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
    margin-bottom: 10vh;

}


.container-featured-post {
    width: 70%;
    word-wrap: break-word;
}

#featured-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#featured-post h1,
#featured-post h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#featured-post p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
    line-height: 1.8;
}

#featured-post h1,
#featured-post p {
    display: flex;
    justify-content: center;

}

#featured-post li {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: justify;
    line-height: 1.8;
}

.container-post-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.post-link {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    font-size: larger;
    cursor: pointer;
    transition: 0.2s;

}

.post-link:hover {
    color: rgb(255, 198, 210);

}


.post-link.active {
    color: rgb(238, 102, 131);
}