

header {
    width: 90%;
    height: 10dvh;
    margin-top: 6dvh;;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.menu ul{
    display: flex;
    flex-direction: row;
    gap:4dvh;
    list-style: none;
   
}

.menu a {
    text-decoration: none;
    font-size: 3dvh;
    color: white;
    cursor: pointer;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-weight: 300;
}

.menu ul li{
    position: relative;
}

.menu ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0%;
    height: 2px;
    background-color:  rgb(255, 82, 119);
    transition: width 0.3s ease;
}

.menu ul li:hover::after {
    width: 100%;
}


.perfil {
    display: flex;
    align-items: center;
    gap: 1dvh;
}

.perfil a {
    display: flex;
    align-items: center;
}


.perfil img {
    width: 10dvh;
    height: 10dvh;
    border-radius: 50%;
    margin-right: 1dvh;
}

.perfil p {
    font-size: 3dvh;
    color: white;
}

.perfil:hover{
   
    transform: scale(1.05);
    transition: transform 0.3s;
}

/*RESPONSIVIDADE*/

/*tablets*/
@media (max-width: 992px) {

    header {
        height: auto;
    }

    .menu {
        flex-direction: column;
        gap: 2dvh;
    }

    .perfil {
        justify-content: center;
    }

    .menu ul {
        gap: 2dvh;
    }

    .menu a {
        font-size: 2.5dvh;
    }

    .perfil img {
        width: 8dvh;
        height: 8dvh;
    }

    .perfil p {
        font-size: 2.5dvh;
    }
}

/* Celulares */
@media (max-width: 490px) {

    header {
        margin-top: 2dvh;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 2dvh;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 1.5dvh;
    }

    .menu a {
        font-size: 2.2dvh;
    }

    .perfil {
        flex-direction: column;
        gap: 1dvh;
    }

    .perfil img {
        width: 7dvh;
        height: 7dvh;
    }

    .perfil p {
        font-size: 2.2dvh;
    }
}